@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');


*{

  user-select: none;
  user-zoom: none;

}

.App {
  background-image: url("../imagens/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}





.App-blender {
  
  height: 100vh;
  display: flex;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.418);
  

}

.left-side{
  
  width: 23%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.center-side{

  width: 55%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.titlediv{

  
  width: 100%;
  height: 150px;
  align-items: flex-end;
  text-align: center;

}

.title{

  font-size: 30px !important;
  font-family: 'Rubik', sans-serif;
  color: aliceblue;
  text-shadow: 0px 2px 10px #1A1A1A;

}


.count{

  font-size: 55px;
  line-height: 160px;
  height: 40px;
  width: 60px;
  color: rgb(254, 254, 254);
  border: none;
  text-shadow: 0px 2px 10px #1A1A1A;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s ease;

}

.count:hoover{

  background-color: rgba(240, 248, 255, 0.741);
  border-radius: 10px;

}

.right-side{

  width: 23%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.Logored{

  width: 288px;
  height: 288px;
  border-radius: 50%;
  margin-left: 15%;
  -webkit-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.29);

}

.Logoblue{

  width: 288px;
  height: 288px;
  border-radius: 50%;
  margin-left: 10%;
  -webkit-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.29);
  box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.29);

}

.scoreboarddiv{

  width: 100%;
  height: 100%;

}

.scoreboard{

  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.694);
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 55px 3px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 55px 3px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 55px 3px rgba(0,0,0,0.65);

}

.scoreboard p {

  font-size: 25px;

}


.score-wortentech, .score-wortencasa, .score-wortenge{

  height: 25%;

}

.score-section{

  height: 100%;
  width: calc(100%/3);

}

.score-section p{

  line-height: 35px;

}

.categories-title{

  text-align: center;

}

.scores{

  height: 100%;
  display: flex;
  flex-direction: row;

}

.score-font{

  font-size: 50px !important;
  font-family: 'Poppins';

}

.LogoX{

  height: 20px;
  width: 20px;
  padding-top: 50px;
  filter: brightness(0) invert(1);

}
